/* src/components/Services/Services.css */

.services {
  padding: 60px 0;
  background-color: #1a1a66;
}

.service-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.services .service-container {
  text-align: center;

}
.service-container h2{
  color: #ffffff;
}
.modal-content h2{
  color: #1a1a66;

}

.services h2 {
  font-size: 2.5em;
  margin-bottom: 40px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.service-item {
  background-color: #ffffff;
  color: #1a1a66;
  padding: 30px;
  text-align: center;
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.service-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.service-item span {
  font-size: 3em;
}

.service-item h3 {
  margin-top: 15px;
  font-size: 1.5em;
}

.service-item p {
  margin-top: 10px;
  font-size: 1em;
}

.service-item {
  cursor: pointer;
  user-select: none;
}


/* Estilos para o modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: #ffffff;
  color: #333333;
  padding: 30px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  text-align: center;
}

.close-button {
  background-color: #e63946;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #c72c3b;
}
/* Responsividade */
@media (max-width: 768px) {
  .services h2 {
    font-size: 2em;
  }

  .service-item {
    padding: 20px;
  }

  .service-item span {
    font-size: 2.5em;
  }

  .service-item h3 {
    font-size: 1.2em;
  }
}