/* src/components/AboutUs/AboutUs.css */

.about-us {
  padding: 60px 0;
  background-color: #ffffff;
}

.about-us .about-us-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.about-us h2 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 40px;
}

.about-us .content {
  display: flex;
  align-items: center;
  gap: 40px;
}

.about-us .image {
  flex: 1;
}

.about-us .image img {
  width: 100%;
  border-radius: 10px;
}

.about-us .text {
  flex: 1;
}

.about-us .text p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
  .about-us .content {
    flex-direction: column;
    margin: 10px;
  }

  .about-us .text p {
    font-size: 1em;
  }
}