.about-us {
  padding: 60px 0;
  background-color: #f0f4f8;
}

.about-us .container {
  text-align: center;
}

.about-us h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.about-us p {
  font-size: 1.2em;
  line-height: 1.6;
}

/* Responsividade */
@media (max-width: 768px) {
  .about-us h2 {
    font-size: 2em;
  }

  .about-us p {
    font-size: 1em;
  }
}
