/* src/components/Testimonials/Testimonials.css */

.testimonials {
  padding: 60px 0;
  background-color: #1a1a66;
}

.testimonials-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.testimonials .testimonials-container {
  text-align: center;
}

.testimonials h2 {
  font-size: 2.5em;
  margin-bottom: 40px;
  color: #ffffff;
}

/* Ajustes para o carrossel */
.testimonial-item {
  background-color: #ffffff;
  padding: 30px;
  border-left: 5px solid #e63946;
  border-radius: 8px;
  margin: 10px;
  /* Ajuste de margem para espaçamento entre os itens */
  min-height: 200px;
}

.testimonial-item blockquote {
  font-style: italic;
  font-size: 1.2em;
  margin-bottom: 15px;
}

.testimonial-item p {
  text-align: right;
  font-weight: bold;
  color: #333333;
}

/* Estilos para os pontos do carrossel */
.slick-dots li button:before {
  color: #1a1a66;
}

.slick-dots li.slick-active button:before {
  color: #e63946;
}

/* Remover setas de navegação padrão do slick */
.slick-prev,
.slick-next {
  display: none !important;
}

/* Responsividade */
@media (max-width: 768px) {
  .testimonials h2 {
    font-size: 2em;
  }

  .testimonial-item {
    padding: 20px;
    margin: 0 20px;
  }

  .testimonial-item blockquote {
    font-size: 1em;
  }
}