/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fontes e cores */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #333333;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3 {
  color: #1a1a66; /* Azul marinho */
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
